{% include header.html %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Yoga Changemakers</h1>
      <h2 class="subtitle is-4">Mind, body, people, planet.</h2>
      <h2 class="subtitle is-5">Patterns of social trauma are the fuel of injustice, waste and environmental destruction. Connecting mind and body is a radical act. It frees us from our collective past but there is more. We need to come together. We must create a vision together and we must act together to make change happen.</h2>
      <h3 class="subtitle is-4">We're working on this site, for now check out our resources and sign up for news and upcoming events.</h3>
  </div>
</div>
</section>
{% include footer.html %}