{% include header.html %}
<!-- Hero ––––––––––––––––––––––––––––––––––––––––– -->
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Yoga Changemakers</h1>
      <h2 class="subtitle is-4">Mind, body, people, planet.</h2>
      <h2 class="subtitle is-5">Patterns of social trauma are the fuel of injustice, waste and environmental destruction. Connecting mind and body is a radical act. It frees us from our collective past but there is more. We need to come together. We must create a vision together and we must act together to make change happen.</h2>
      <h3 class="subtitle is-4">We're working on this site, for now check out our resources and sign up for news and upcoming events.</h3>


    </div>
  </div>
</section>

<section class="is-4by3">
  <img src="assets/img/markleonard-presenting-yogachangemakers.jpg">
</section>

<!-- New form which links to GDPR page preffered design option

<div class="container">
  <button class="button is-primary">Submit</button>
</div>
<div class="control">
  <input class="input" type="text" placeholder="Email address">
</div>

-->

<!-- MC pop-up form -->

    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"452452c0162592f4e41d2af04","lid":"5db21739a8"}) })</script>

<!-- MC pop-up end -->

{% include footer.html %}