{% include header.html %}

<h2 class="title is-3 is-offset-one-fifth-desktop column">Resources</h2>
<!-- Guided medtiations ––––––––––––––––––––––––––––––––––––––––– -->

<section><h2 class="title is-3 column is-offset-one-fifth-desktop">Guided meditations</h2>
  <h3 class="title is-4 column is-offset-one-quarter-desktop">10 minute bodyscan</h3>
  <iframe class="column is-two-thirds-desktop is-offset-one-quarter-desktop" width="100%" height="265" src="https://clyp.it/cw4brs4v/widget" frameborder="0"></iframe>
  <h3 class="title is-4 column is-offset-one-quarter-desktop">Sitting and breating</h3>
  <iframe class="column is-two-thirds-desktop is-offset-one-quarter-desktop" width="100%" height="265" src="https://clyp.it/zx0vnace/widget" frameborder="0"></iframe>
  <h3 class="title is-4 column is-offset-one-quarter-desktop">Reconnecting with feelings</h3>
  <iframe class="column is-two-thirds-desktop is-offset-one-quarter-desktop" width="100%" height="265" src="https://clyp.it/nd5tbnyx/widget" frameborder="0"></iframe> 
  <h3 class="title is-4 column is-offset-one-quarter-desktop">Stretching and sitting meditation</h3>
  <iframe class="column is-two-thirds-desktop is-offset-one-quarter-desktop" width="100%" height="265" src="https://clyp.it/zlglxaph/widget" frameborder="0"></iframe> 
  <h3 class="title is-4 column is-offset-one-quarter-desktop">Concentration and allowing the mind to wander</h3>
  <iframe class="column is-two-thirds-desktop is-offset-one-quarter-desktop" width="100%" height="265" src="https://clyp.it/ecah2ywy/widget" frameborder="0"></iframe> 
</section>


<!-- MC pop-up form -->

    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"452452c0162592f4e41d2af04","lid":"5db21739a8"}) })</script>

<!-- MC pop-up end -->


<!-- youtube channel ––––––––––––––––––––––––––––––––––––––––– -->
<section>
  <div class="column is-offset-one-fifth-desktop">
    <h2 class="title is-3">Curated videos on physiology, society and embodiment</h2>
  

<!-- german fascia ––––––––––––––––––––––––––––––––––––––––– -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/vIFDwDdGnhQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<h2 class="column title is-6">An excellent German documentary which illuminates the different properties and functions of fascia</h2>
<!-- Polyvagal theory ––––––––––––––––––––––––––––––––––––––––– -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/yVVaTRbegJs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<h2 class="column title is-6">An interview Stephen Porges about his Polyvagal Theory</h2>
<!-- Thomas Myers ––––––––––––––––––––––––––––––––––––––––– -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/T60vzafspaY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<h2 class="column title is-6">An interview with Thomas Myers, which explores movement, body and environment</h2>
</div>
</section>



<!-- Transcripts – Google drive ––––––––––––––––––––––––––––––––––––––––– -->
<section>
  <div class="column is-offset-one-fifth-desktop">
    <h2 class=" title is-3">Meditation transcripts</h2>
      <iframe src="https://drive.google.com/a/drive.google.com/embeddedfolderview?id=1GmhNM4jN5EyxOhKlNjnWU0UtOJM9SbWV#grid" style="width:100%; height:600px; border:0;"></iframe>
  </div>
</section>
{% include footer.html %}